propel:
    database:
        connections:
            default:
                adapter: mysql
                settings:
                    charset: utf8
                    queries:
                        utf8: "SET NAMES utf8 COLLATE utf8_unicode_ci, COLLATION_CONNECTION = utf8_unicode_ci, COLLATION_DATABASE = utf8_unicode_ci, COLLATION_SERVER = utf8_unicode_ci"
                classname: Propel\Runtime\Connection\ConnectionWrapper
                dsn: "mysql:host=YOUR_HOSTNAME;dbname=YOUR_DB_NAME"
                user: YOUR_USERNAME
                password: YOUR_PASSWORD
                attributes:
    reverse:
        connection: default
    runtime:
        defaultConnection: default
        connections:
            - default
        log:
            defaultLogger:
                type: stream
                path: YOUR_LOG_PATH
                level: 300
    generator:
        defaultConnection: default
        connections:
            - default
        schema:
            autoPackage: true
    paths:
        phpConfDir:     config/propel
        sqlDir:         model/sql
        migrationDir:   model/migrations
        schemaDir:      model/schemas
        phpDir:         model/classes